<div layout="column" ng-cloak>

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo" style="height:128px;">
      <h1 class="md-toolbar-tools">Hello</h1>
    </md-toolbar>

    <md-content layout-margin>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </md-content>

  </md-sidenav>



  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="menu" ng-click="toggleLeft()">
        <md-icon aria-label="menu" class="material-icons">menu</md-icon>
      </md-button>
      <h3>
        <span>{{title}}</span>
      </h3>
      <span flex="" class="flex"></span>
      <md-button class="md-icon-button" aria-label="more_vert">
        <md-icon aria-label="more_vert" class="material-icons">more_vert</md-icon>
      </md-button>

    </div>
  </md-toolbar>

  <md-content flex>

    <md-list>

      <md-list-item class="md-3-line" ng-repeat="value in [0,1,2,3,4,5,6,7,8,9,10]">
        <img ng-src="/img/avatar.jpg" alt="image" class="md-avatar">
        <div class="md-list-item-text">
          <h3>Ullam suscipit quis</h3>
          <h4>Quo fuga eaque maxime</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      <md-divider inset></md-divider>
    </md-list-item>

  </md-list>

</md-content>

</div>
