<div layout="column" ng-cloak>
  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')">

      <md-toolbar class="md-theme-indigo" style="height:168px;">
        <h1 class="md-toolbar-tools" style="margin-top:112px;">Witaj użytkowniku!</h1>
      </md-toolbar>

      <md-content>
        <md-list ng-cloak>

          <a class="clear-atag" target="_blank" href="https://github.com/nnaisur/find75">
            <md-list-item>
              <md-icon aria-label="code" class="material-icons">code</md-icon>
              <p>
                Github
              </p>
            </md-list-item>
          </a>

          <a class="clear-atag" target="_blank" href="https://github.com/nnaisur/find75/issues">
            <md-list-item>
              <md-icon aria-label="report_problem" class="material-icons">report_problem</md-icon>
              <p>
                Zgłoś problem
              </p>
            </md-list-item>
          </a>



        </md-list>
      </md-content>

    </md-sidenav>

    <!-- <div class="bus tram"> 1 </div>
    <br>
    <div class="bus normal">42</div>
    <br>
    <div class="bus night">542</div>
    <br>
    <div class="bus fast">A</div>
    <br> -->
    <md-content flex>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button menu-btn" aria-label="menu" ng-click="MainCtrl.toggleLeft()">
            <md-icon aria-label="menu" class="material-icons">menu</md-icon>
          </md-button>
          <!-- <h3> <span>{{MainCtrl.title}}</span> </h3> -->

          <md-autocomplete
          md-selected-item="MainCtrl.busStop"
          md-selected-item-change="MainCtrl.setNewCenter()"
          md-search-text="searchText"
          md-items="item in MainCtrl.getMatchesStops(searchText)"
          md-item-text="item.nazwa"
          placeholder="Wybierz przystanek">
          <span md-highlight-text="searchText">{{item.nazwa}}</span>
        </md-autocomplete>

        <span flex="" class="flex"></span>
          <!-- <md-button class="md-icon-button" aria-label="more_vert">
            <md-icon aria-label="more_vert" class="material-icons">more_vert</md-icon>
          </md-button> -->

        </div>
      </md-toolbar>

      <ng-map center="[53.430434,14.5455763]" zoom="15" disable-default-u-i="true">
        <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
        <traffic-layer></traffic-layer>
        <marker ng-if="MainCtrl.busStop" position="{{MainCtrl.busStop.szerokoscgeo}},{{MainCtrl.busStop.dlugoscgeo}}" title="{{MainCtrl.busStop.nazwa}}"></marker>
        <!-- <marker ng-repeat="bus in MainCtrl.getMatchesBuses(MainCtrl.busStop)" position="{{bus.lat}},{{bus.lon}}"></marker> -->

        <div ng-if="MainCtrl.busStop || MainCtrl.allBuses">
          <custom-marker ng-repeat="bus in MainCtrl.getMatchesBuses(MainCtrl.busStop)" position="{{bus.lat}},{{bus.lon}}">
            <div class="bus {{bus.typlinii}}">
              {{bus.linia}}
            </div>
          </custom-marker>
        </div>

        <div ng-if="MainCtrl.selectedLine">
          <custom-marker ng-repeat="bus in MainCtrl.getSelectedLine()" position="{{bus.lat}},{{bus.lon}}">
            <div class="bus {{bus.typlinii}}">
              {{bus.linia}}
            </div>
          </custom-marker>

          <shape name="polyline"
            ng-repeat="stringLine in MainCtrl.busRoute"
            path="{{stringLine}}"
            geodesic="true"
            stroke-color="#242e7d"
            stroke-opacity="1.0"
            stroke-weight="4"
            >
          </shape>

        </div>



      </ng-map>
      <md-content flex layout-padding style="overflow: hidden; padding-top: 16px;">
        <form class="filter-form">
          <md-input-container style="margin:0">
            <label>Filtr</label>
            <input ng-model="busFilter">
          </md-input-container>
        </form>
        <form class="filter-form">
          <md-checkbox class="show-all" ng-model="MainCtrl.allBuses" aria-label="Pokaż wszystkie">
            Pokaż wszystkie
          </md-checkbox>
        </form>
      </md-content>

      <!-- <h2>{{MainCtrl.busStop.nazwa}}</h2> -->

      <md-divider inset></md-divider>
      <!-- <div ui-view="content"></div> -->

      <md-list class="md-dense" ng-if="MainCtrl.busStop">

        <md-list-item class="md-3-line" ng-repeat="bus in MainCtrl.getMatchesBuses(MainCtrl.busStop)" ng-click="true">
          <div class="md-list-item-text">
            <h3><b>{{bus.linia}}</b> ({{bus.punktualnosc1}})</h3>
            <p>Z: {{bus.z}}</p>
            <p>Do: {{bus.do || 'Pętla'}}</p>
          </div>
          <md-button ng-click="MainCtrl.showLine(bus.linia,bus.gmvid)"> Linia </md-button>
          <md-button ng-click="MainCtrl.showBus(bus)"> Pokaż </md-button>
          <md-divider inset></md-divider>
        </md-list-item>

      </md-list>

      <md-list class="md-dense" ng-if="!MainCtrl.busStop">

        <md-list-item class="md-3-line" ng-repeat="line in MainCtrl.getAllLines() | filter:{linia: busFilter}" ng-click="MainCtrl.showLine(line.linia,line.gmvid)">
          <div class="md-list-item-text">
            <h3> Linia: {{line.linia}}</h3>
            <p> {{line.typlinii | line}} </p>
          </div>
          <md-divider inset></md-divider>
        </md-list-item>
      </md-list>

    </md-content>
  </section>

</div>
