* { box-sizing: border-box; }
body{
  /*overflow: hidden;*/
}

md-toolbar md-icon{
  color: white;
}
md-list{
  overflow: auto;
  height: calc(100vh - 40vh - 56px - 53px - 22px);
}

.show-all{
  margin-bottom: 0;
}
ng-map{
  height: 40vh;
}

.bus{
  position: relative;
  border-radius: 5px;
  width: 29px;
  height: 20px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
}

.bus:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  left: calc(50% - 5.5px);
  border-left-width: 6px;
  border-right-width: 6px;
}

/*night*/
.anz{
  background: #000;
  color: #fff;
}
.anz:after{
  border-top-color: #000;
}
/*normal*/
.adz,
.ada{
  background: #03a9f4;
  color: #fff;
}
.adz:after,
.ada:after{
  border-top-color: #03a9f4;
}

/*fast*/
.adp{
  background: #F44336;
  color: #fff;
}

.adp:after{
  border-top-color: #F44336;
}
/*tram*/
.tdz{
  background: #ffc107;
  color: #000;
}
.tdz:after{
  border-top-color: #ffc107;
}

md-autocomplete{
  width: 100%;
  background: transparent;
}
md-autocomplete md-autocomplete-wrap{
  box-shadow: none!important;
}
md-autocomplete input,
md-autocomplete md-icon{
  color: #fff!important;
}

md-autocomplete input::-webkit-input-placeholder{
  color: #fff!important;
}

md-autocomplete input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #fff!important;
}
md-autocomplete input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #fff!important;
  opacity:  1;
}
md-autocomplete input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff!important;
}


.clear-atag{
  color: rgba(0,0,0,0.87)!important;
  text-decoration: none!important;
}

.filter-form{
  width: calc(50% - 8px);
  display: inline-block;
}
.filter-form .md-errors-spacer{
  display: none;
}


@media (min-width: 960px) {
  ng-map{
    height: 45vh;
  }
  md-list{
    height: calc(100vh - 45vh - 56px - 61px - 22px);
  }
  .menu-btn{
    display: none!important;
  }
}

